.git
.github
.idea
.vscode
.zed
docs
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
database/database.sqlite
.env
.env.*
*.md
!README.md
tests
.phpunit.cache
.phpunit.result.cache
